/** Two column layout from Steven Bradley **/
/** http://www.vanseodesign.com/css/2-column-layout-code/ **/


BODY {
	background-color:#cccccc;
    color:#000000;
    font-family: "Courier New", Courier, monospace;
    font-size:10pt;
}

P {
	margin-top:3px;
	margin-bottom:3px;
	text-align:justify;
	line-height:109%
}
